{% extends 'extends/base_logged.html' %}
{% block content %}
<div class="container-fluid bg-dark w-100 content">
    <div class="row" style="min-height:100%;">
        <div class="col-sm-11 mx-auto shadow p-3">
            <div class="row" style="min-height:100%;">
                <div class="col-sm-12 ">
                    <div class="col-content">


<div id="div_data" style="height: 500px; width: 100%; overflow-y: scroll;">
</div>

<div style="background-color: blueviolet; box-sizing: border-box;">
<input type="text" name="message" id="message" placeholder="Message" style="margin:1% 1%; width: 98%;">
<input type="button" value="Send Message" id="send_message" style="width: 100%; ">
</div>



{% comment %} łaczenie z ws {% endcomment %}
<script>
    var roomName = '{{ room_name }}' ;
    var personName = '{{ person_name }}' ;
    var chatSocket = new WebSocket('ws://'+window.location.host+'/ws/chat/'+roomName+'/'+personName+'/');
    chatSocket.onmessage=function(e){
        var data = JSON.parse(e.data)
        var message = data['message']
        var div = document.querySelector('#div_data');
        div.innerHTML+='<br>'+message;
    }
    chatSocket.onclose=function(e){
        var data = JSON.parse(e.data)
        var message = data['message']
        var div = document.querySelector('#div_data');
        div.innerHTML+='<br>'+message;
    }

    document.querySelector("#send_message").onclick=function(e){
        var message = document.querySelector("#message").value;
        chatSocket.send(JSON.stringify({'message':message }))
        document.querySelector("#message").value = '';
    }
</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer font-small bg-dark text-white" style="width:100vw;">
    <div class="footer-copyright text-center py-3"><i class="far fa-copyright"></i> 2020 Copyright: <a href="/status/"> Xyz </a>
    </div>
</footer>

{% endblock content %}

