{% extends 'extends/base.html' %}
{% block content %}
<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-sm-12 h-25 main-h1">
<h1>  Country Side DarkW  </h1>
</div>
<div class="col-sm-12">
<form style="padding:0 25%;">
        <label class="sr-only" for="user-id">Id</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
            <div class="input-group-text">#</div>
            </div>
            <input type="password" class="form-control" id="user-id" placeholder="Twoje Id">
            <label class="sr-only" for="user-login">Nazwa</label>
            <input type="text" class="form-control" id="user-id" placeholder="Nickname">
        </div>
        <div class="col-sm-auto" style="padding:0 40%">
        <input type="submit" class="btn btn-dark main-submit" style="width:140%;" value="Zaloguj" />
        </div>
        </div>
</form>
</div>
</div>
</div>
</div>
{% endblock content %}