{% extends 'extends/base_logged.html' %}

{% block content %}
<div class="container-fluid bg-dark w-100 content" >
    <div class="row" style="min-height:100%;">
        <div class="col-sm-11 mx-auto shadow p-3">
            <div class="row p-3 " style="min-height:100%;">
                {% if player.organization_level.rank_power >= 90 %}
                    <div class="col-sm-6" style="overflow-y:auto; overflow-x:hidden;">
                        <div class="col-content" style="overflow-x:hidden;">
                            <span><h3> Pracownicy: </h3><h6> *Uwaga, usuwanie nie wymaga potwierdzenia </h6> </span>
                            <table class="table text-light">
                                <tbody>
                                {% for worker in player.organization.organizationworkers.workers.all %}
                                    <tr>
                                        {% if player.organization_level.visible_ranks == True %}
                                            <td class="righteous">
                                                {{ worker.organization_level.rank_name }}
                                            </td>
                                            {% endif %}
                                                <th scope="row" class="righteous">
                                                    {{ worker.nickname|capfirst }}
                                                </th>
                                        {% if player.organization_level.visible_phone == True %}
                                            <td>
                                                <i class="fas fa-mobile-alt"></i>
                                                {{ worker.phone }}
                                            </td>
                                        {% endif %}
                                        <td>
                                        {% if worker.organization_level.rank_power >= 100 %}
                                        {% else %}
                                            <button class="btn btn-dark border border-light text-warning p-1 float-right" id="edit-player" style="margin-right:5%;" data-toggle="modal" data-target="#edit-{{ worker }}" name="player" value="{{ worker }}">
                                                <i class="fas fa-cogs"></i> Edytuj
                                            </button>
                                        {% endif %}
                                            {% if worker.organization_level.rank_power >= 100 %}
                                            {% else %}
                                                {% if player.organization_level.rank_power > worker.organization_level.rank_power %}
                                                <form action="{% url 'management' %}">
                                                    <button class="btn btn-dark text-danger border border-danger p-1 float-right" name="del_worker" id="id_{{ worker }}" value="{{ worker }}" style="margin-right:5%;">
                                                        <i class="fas fa-times"></i> Wyrzuć
                                                    </button>
                                                </form>
                                                {% else %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                <div class="p-3">
                    <h5> Nie masz dostępu do tego panelu</h5>
                    <h5> Wróc do organizacji <a href="{% url 'organization' %}" class="btn btn-dark"> Organizacja </a> </h5>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<footer class="page-footer font-small bg-dark text-white" style="width:100vw;">
    <div class="footer-copyright text-center py-3"><i class="far fa-copyright"></i> 2020 Copyright: <a href="/status/"> Xyz </a>
    </div>
</footer>


{% for worker in player.organization.organizationworkers.workers.all %}
<div class="modal fade" id="edit-{{ worker }}" tabindex="-1" role="dialog" aria-labelledby="edit-{{ worker }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edycja Gracza: {{ worker|capfirst }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <div class="form-group">
        <h5>Zmień Range:</h5>
            <form action="{% url 'management' %}">
            <select class="form-control" name="playerrank" id="id_playerrank">
                {% for player_rank in player.organization.ranks.all %}
                    {% if worker.organization_level == player_rank %}
                    {% else %}
                        {% if player_rank.rank_power >= 100 %}
                        {% else %}
                            <option value="{{ player_rank.rank_name }}">{{ player_rank.rank_name }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
                <input type="submit" class="btn btn-primary" value="Zapisz" />
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}



{% endblock content %}
