{% extends 'extends/base_logged.html' %}
{% block content %}
{% load humanize %}
<div class="container-fluid bg-dark w-100 content" >
    <div class="row" style="min-height:100%;">
        <div class="col-sm-11 mx-auto shadow p-3">
            <div class="row p-3 " style="min-height:100%;">
                <div class="col-sm-6 border-right">
                    <div class="col-content">
                        <h3> Twoje Zlecenia :</h3>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            {% for s in status %}
                                <li class="nav-item">
                                    <a class="nav-link btn btn-dark border-info righteous {% if forloop.first %}active{% endif %}" id="pills-{{ s.status }}" data-toggle="pill" href="#{{ s.status }}" role="tab" aria-controls="{{ s.status }}" aria-selected="{% if forloop.firstloop %}true{% else %}false{% endif %}">{{ s.status|capfirst }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            {% for u in status %}
                                <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="{{ u.status }}" role="tabpanel" aria-labelledby="pills-{{ u.status }}">
                                    <table class="table table-striped table-dark" style="width:95%;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Zlecenie</th>
                                                <th scope="col">Opis</th>
                                                <th scope="col" class="text-center">Status</th>
                                                <th scope="col" ><span class="float-right" style="margin-right:15%;" >Akcja</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for o in orders %}
                                                {% if o.status.status == u.status %}
                                                
                                                    <tr>
                                                        <th scope="row">
                                                            {{ o.order_type|capfirst }}
                                                        </th>
                                                        <td>
                                                            {% if o.order_type.order_type == "Kontrabanda" %}
                                                                Transport Broni
                                                            {% elif o.order_type.order_type == "Pranie" %}
                                                                Pranie {{ o.if_pranie|intcomma }}$ z prowizją {{ o.if_pranie_prowizja }}%
                                                            {% elif o.order_type.order_type == "Sprzedaż" %}
                                                                Sprzedawanie Towaru
                                                            {% endif %}
                                                        </td>
                                                        <td class="righteous text-center">
                                                            {{ o.status }}
                                                        </td>
                                                        {% if o.status.status == 'Rozpoczęte' %}
                                                        <td class="text-right">
                                                        W trakcie
                                                        </td>
                                                        {% elif o.status.status == 'Aktywne' %}
                                                        <td class="p-1">
                                                            <form action="{% url 'orders' %}" style="display: inline;">
                                                                <button class="btn btn-dark text-danger righteous border-danger float-right" name="del_order" id="id_{{ o.id }}" value="{{ o.id }}" style="margin:1px 0; margin-right:5%;">
                                                                    <i class="fas fa-times"></i> Usuń
                                                                </button>
                                                            </form>
                                                        </td>
                                                        {% else %}
                                                            {% if o.received == False %}
                                                        <td class="p-1">
                                                            <form action="{% url 'orders' %}" style="display: inline;">
                                                                <button class="btn btn-dark righteous border-success float-right" name="get_order" id="" value="{{ o.id }}" style="margin:1px 0; margin-right:5%;">
                                                                Odbierz
                                                                </button>
                                                            </form>
                                                        </td>
                                                        {% else %}
                                                        <td class="text-right">
                                                        Odebrane
                                                        </td>
                                                        {% endif %}
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-content" style="padding-left:1%;">
                        <h3> Wszystkie Zlecenia :</h3>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            {% for ts in types %}
                                <li class="nav-item">
                                    <a class="nav-link btn btn-dark border-info righteous {% if forloop.first %}active{% endif %}" id="pills-{{ ts.order_type }}" data-toggle="pill" href="#{{ ts.order_type }}" role="tab" aria-controls="{{ ts.order_type }}" aria-selected="{% if forloop.firstloop %}true{% else %}false{% endif %}">{{ ts.order_type|capfirst }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            {% for tu in types %}
                                <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="{{ tu.order_type }}" role="tabpanel" aria-labelledby="pills-{{ tu.order_type }}">
                                    <table class="table table-striped table-dark" style="width:95%;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Zlecenie</th>
                                                <th scope="col">Opis</th>
                                                <th scope="col" class="text-center">Gracz</th>
                                                <th scope="col" class="text-center">Status</th>
                                                <th scope="col" ><span class="float-right" style="margin-right:15%;" >Akceptuj</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for to in all_orders %}
                                                {% if to.order_type.order_type == tu.order_type %}
                                                    {% if to.status.status != 'Aktywne' and to.status.status != 'Rozpoczęte' %}
                                                    {% else %}
                                                        <tr>
                                                            <th scope="row">
                                                                {{ to.order_type|capfirst }}
                                                            </th>
                                                            <td>
                                                                {% if to.order_type.order_type == "Kontrabanda" %}
                                                                    Transport Broni
                                                                {% elif to.order_type.order_type == "Pranie" %}
                                                                    Pranie {{ to.if_pranie|intcomma }}$ z prowizją {{ to.if_pranie_prowizja }}%
                                                                {% elif to.order_type.order_type == "Sprzedaż" %}
                                                                    Sprzedawanie Towaru
                                                                {% endif %}
                                                            </td>
                                                            <td class="righteous text-center ">
                                                            {{ to.player }}
                                                            </td>
                                                            <td class="text-center righteous">
                                                                {{ to.status }}
                                                            </td>
                                                            {% if to.status.status != "Aktywne" %}
                                                            <td class="text-right" style="padding:1% 0; padding-right:4%;">
                                                            Przyjęte
                                                            </td>
                                                            {% else %}
                                                            <td style="padding:1% 0; padding-right:2%;">
                                                            <form action="{% url 'orders' %}" style="display:inline;">
                                                            <button class=" btn btn-success border-warning p-1 float-right righteous" style="color:white;" name="akcept" value="{{ to.id }}">
                                                                Akceptuj
                                                            </button>
                                                            </form>
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer font-small bg-dark text-white" style="width:100vw; overflow:hidden;">
    <div class="footer-copyright text-center py-3"><i class="far fa-copyright"></i> 2020 Copyright: <a href="/status/"> Xyz </a>
    </div>
</footer>
{% endblock content %}