{% extends 'extends/base_logged.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<div class="container-fluid bg-dark w-100 content">
    <div class="row" style="min-height:100%;">
        <div class="col-sm-11 mx-auto shadow p-3">
            <div class="row" style="min-height:100%;">
                <div class="col-sm-6 ">
                    <div class="col-content">
                        <h3>Witaj, <i class="fas fa-id-card"></i> {{ player.nickname|capfirst }}</h3>
                        <h4> <i class="fas fa-piggy-bank"></i> Twoje obecne saldo w banku: <span class="badge badge-pill badge-light righteous">{{ player.money_bank|intcomma }}$</span> </h4>
                        <h4> <i class="fas fa-dollar-sign"></i> Twoje obecne saldo w portfelu: <span class="badge badge-pill badge-light righteous">{{ player.money_portfel|intcomma }}$</span> </h4>
                        <h4> <i class="fas fa-mobile-alt"></i> Twój Numer: <span class="badge badge-pill badge-light righteous">{{ player.phone }}</span> </h4>
                            {% if player.organization_status == True %}
                            <h4>
                            <i class="fas fa-building"></i> Twoja Organizacja: 
                                <span class="badge badge-pill badge-light">
                                    {{ player.organization|capfirst }}
                                </span>
                            </h4>
                            {% else %}
                            <h4> Nie Posiadasz Organizacji </h4>
                            {% endif %}
                </div>
            </div>
                <div class="col-sm-6" style="overflow-y:auto; overflow-x:hidden;">
                    <div class="col-content" style="border-top:2px solid white;">
                        <div class="p-3">
                        <h4> Magazyn: </h4>
                            {% if player_items %}
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                {% for category in items_category %}
                                    <li class="nav-item">
                                        <a class="nav-link righteous {% if forloop.first %}active{% endif %}" id="pills-{{ category.item_category }}" data-toggle="pill" href="#{{ category.item_category }}" role="tab" aria-controls="{{ category.item_category }}" aria-selected="{% if forloop.firstloop %}true{% else %}false{% endif %}">{{ category.item_category }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                {% for category in items_category %}
                                    <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="{{ category.item_category }}" role="tabpanel" aria-labelledby="pills-{{ category.item_category }}">
                                        <table class="table table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Ilość</th>
                                                    <th scope="col">Nazwa</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in player_items %}
                                                    {% if item.item.item_category == category %}
                                                        {% if item.item_count > 0 %}
                                                            <tr>
                                                                <th scope="row">{{ item.item_count }}</th>
                                                                <td>{{ item.item.item_name }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <h4> Nie Posiadasz przedmiotów w magazynie </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 ">
                <div class="col-content" style="overflow:auto;">
                    <h4> Zlecenia: </h4>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="col-content" style="overflow:auto;">
                    <h4> Twoje zlecenia: </h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="page-footer font-small bg-dark text-white" style="width:100vw;">
    <div class="footer-copyright text-center py-3"><i class="far fa-copyright"></i> 2020 Copyright: <a href="/status/"> Xyz </a>
    </div>
</footer>
{% endblock content %}



