<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CountrySide DW</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Organizacja</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Zlecenia</a>
      </li>
    </ul>
      <a href="{% url 'logout_view' %}" class="btn btn-secondary my-2 my-sm-0" style="color:white;">Wyloguj</a>
  </div>
</nav>